.ContactPage
{
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  cursor: default;

  .sections
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .map-sect
    {
      margin-top: 5rem;
      padding: .5rem;
      width: 100%;
      box-shadow: var(--card-shadow);
      background-color: var(--sidebar);
    }
    .contact-sect
    {
      display: flex;
      width: 100%;
      margin-left: 2rem;
      background-color: var(--sidebar);
      box-shadow: var(--card-shadow);
      .contact-form
      {
        .form-group
        {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          width: 100%;

          #message
          {
            width: 450px;
            height: 200px;
            font-size: inherit;
            background-color: var(--sidebar);
            outline: none;
            border: none;
            color: var(--font-color2);
          }
          #email
          {
            font-size: inherit;
            width: 450px;
            background-color: var(--sidebar);
            outline: none;
            border: none;
            color: var(--font-color2);
          }
          #name
          {
            outline: none;
            border: none;
            font-size: inherit;
            color: var(--font-color2);
            background-color: var(--sidebar);
          }
        }
      }
    }
  }
}


