.ContactPage
{
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  cursor: default;

  .sections
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .map-sect
    {
      margin-top: 5rem;
      padding: .5rem;
      width: 100%;
      box-shadow: var(--card-shadow);
      background-color: var(--sidebar);
      iframe
      {
        width: 100%;
        height: 100%;
      }
    }
    .contact-sect
    {
      display: flex;
      width: 100%;
      margin-left: 2rem;
      background-color: var(--sidebar);
      .contact-form
      {
        .form-group
        {
          width: 100%;
        }
      }
    }
  }
}


