.ContactPage
{
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  cursor: default;

  .sections
  {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 4.5rem;
    .map-sect
    {
      padding: .5rem;
      box-shadow: var(--card-shadow);
      background-color: var(--sidebar);
    }
    .contact-sect
    {
      display: flex;
      width: 100%;
      padding: .5rem;
      height: 471px;
      margin-left: 2rem;
      background-color: var(--sidebar);
      box-shadow: var(--card-shadow);
      .contact-form
      {
        .form-group
        {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          width: 100%;
          #message
          {
            width: 450px;
            height: 200px;
            font-size: inherit;
            font-weight: 400;
            background-color: var(--bg);
            border-radius: 4px;
            outline: none;
            border: none;
            color: var(--font-color2);
          }
          #email
          {
            font-size: inherit;
            font-weight: 400;
            width: 450px;
            background-color: var(--bg);
            border-radius: 4px;
            outline: none;
            border: none;
            color: var(--font-color2);
          }
          #name
          {
            outline: none;
            border: none;
            font-size: inherit;
            font-weight: 400;
            color: var(--font-color2);
            background-color: var(--bg);
            border-radius: 4px;
          }
        }
      }
    }
  }
}


