.ProjectsPage {
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  cursor: default;
}

.portfolio-menu
{
  margin-top: 4.5rem;
  .Categories
  {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    .port-btn
    {
      padding: 1rem 2rem;
      background-color: var(--main-color-hover);
      border: none;
      outline: none;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      margin-bottom: 2rem;
      flex-wrap: wrap;
      cursor: pointer;
      box-shadow: var(--card-shadow);
      transition: all .3s ease-in-out;
      position: relative;
      &::after
      {
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left: 0;
        bottom: 0;
        background-color: var(--font-color2);
        transition: all .3s ease-in-out;
      }
      &:hover::after
      {
        width: 100%;
      }
      &:not(:last-child)
      {
        margin-right: 1rem;
      }
      &:hover
      {
        background-color: var(--main-color);
      }

      &:active::after
      {
        width: 100%;
      }
      &:focus::after
      {
        width: 100%;
      }
    }
  }

  .fadein
  {
    animation: fadeIn .3s ease forwards;
  }

  .fadeout
  {
    animation: fadeOut .3s ease forwards;
  }

  .expanded
  {
    height: 40vh !important;
  }

  .collapsed
  {
    //height: 28vh !important;
    //padding: 0 !important;
    //border-width: 0 !important;
  }

  .collapsed-item
  {
    height: 20vh !important;
    //padding: 0 !important;
    //border-width: 0 !important;
  }

  .collapsedGrid
  {
    row-gap: 0 !important;
  }


  .MenuItem
  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
    @media screen and (max-width: 1000px){
      grid-template-columns: repeat(1, 1fr);
    }
    .portfolio
    {
      box-shadow: var(--card-shadow);
      background-color: var(--sidebar);
      //transition: all 1s ease-in-out;
      overflow: hidden;
      .project-content
      {
        .expand-btn
        {
          position: absolute;
          z-index: 100;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          width: 100%;
          text-align: center;
          padding: 1rem 2rem;
          background-color: var(--main-color-hover);
          border: none;
          outline: none;
          font-size: inherit;
          font-family: inherit;
          color: inherit;
          flex-wrap: wrap;
          cursor: pointer;
          box-shadow: var(--card-shadow);
          transition: all .3s ease-in-out;
          &::after
          {
            position: absolute;
            content: "";
            width: 0;
            height: .3rem;
            left: 0;
            bottom: 0;
            background-color: var(--font-color2);
            transition: all .3s ease-in-out;
          }
          &:hover::after
          {
            width: 100%;
          }
          &:hover
          {
            background-color: var(--main-color);
          }

          &:active::after
          {
            width: 100%;
          }
          &:focus::after
          {
            width: 100%;
          }
          }
        .text-cover
        {
          z-index: 99;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 20vh; /* Adjust this value based on the number of lines you want to fade out */
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--sidebar));
        }
        //background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
        transition: all .3s ease-in-out;
        //height: 100vh;
        height: 20vh;
        position: relative;
        //&::before
        //{
        //  content: "";
        //  position: absolute;
        //  top: 12px;
        //  left: 15px;
        //  height: calc(100% - 30px);
        //  width: calc(100% - 30px);
        //  background-color: var(--main-color-hover);
        //  transform-origin: center;
        //  transform: scale(0);
        //  transition: all .3s ease-in-out;
        //  opacity: .9;
        //}
        //&:hover::before
        //{
        //  transform: scale(1);
        //}
        img
        {
          height: 20vh;
          width: 20vh;
          position: absolute;
          padding: 2rem;
          border: none;
          outline: none;
          background-color: var(--sidebar);
          //object-fit: cover;
          //margin-bottom: -7px;
        }
        //.hover-items
        //{
        //  list-style: none;
        //  position: absolute;
        //  top: 70%;
        //  left: 50%;
        //  transform: translate(-50%, -50%);
        //  padding: 1rem 2rem;
        //  visibility: hidden;
        //  display: flex;
        //  a
        //  {
        //      padding: 1rem;
        //      font-family: inherit;
        //      font-size: 2.8rem;
        //      color: var(--bg);
        //      background-color: var(--font-color2);
        //      transition: all .3s ease-in-out;
        //    border-radius: 4px;
        //      &:not(:last-child)
        //      {
        //        margin-right: 2rem;
        //      }
        //      &:hover
        //      {
        //       color: var(--main-color)
        //      }
        //  }
        //}
        //&:hover
        //{
        //  .hover-items
        //  {
        //    visibility: visible;
        //    top: 50%;
        //    transition: all .3s ease-in-out .3s;
        //  }
        //}

      }
      h5
      {
        padding: 2rem;
        //font-size: inherit;
        height: 8vh;
        font-weight: 400;
        font-size: 2rem;
        transition: all .3s ease-in-out;
        background-color: var(--sidebar);
        &:hover
        {
          color: var(--main-color);
        }
      }

      .text-cover {
        background: linear-gradient(to bottom, transparent, #000000);
        transition: all 0.3s ease;
      }

      p
      {
        padding: 2rem;
        height: 8vh;
        transition: all .3s ease-in-out;
        position: absolute;
        left: 18vh;
      }
    }
  }
}


