.ProjectsPage {
  opacity: 0;
  animation: fadeIn .3s ease forwards;
  cursor: default;
}

.portfolio-menu
{
  margin-top: 4.5rem;
  .Categories
  {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
    .port-btn
    {
      padding: 1rem 2rem;
      background-color: var(--main-color-hover);
      border: none;
      outline: none;
      font-size: inherit;
      font-family: inherit;
      color: inherit;
      margin-bottom: 2rem;
      flex-wrap: wrap;
      cursor: pointer;
      box-shadow: var(--card-shadow);
      transition: all .3s ease-in-out;
      position: relative;
      &::after
      {
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left: 0;
        bottom: 0;
        background-color: var(--font-color2);
        transition: all .3s ease-in-out;
      }
      &:hover::after
      {
        width: 100%;
      }
      &:not(:last-child)
      {
        margin-right: 1rem;
      }
      &:hover
      {
        background-color: var(--main-color);
      }

      &:active::after
      {
        width: 100%;
      }
      &:focus::after
      {
        width: 100%;
      }
    }
  }

  .fadein
  {
    animation: fadeIn .3s ease forwards;
  }

  .fadeout
  {
    animation: fadeOut .3s ease forwards;
  }

  .expanded
  {

    transition: all 3s ease-in-out;
  }

  .text-cover-plain
  {
    background: var(--sidebar);
  }

  .MenuItem
  {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    column-gap: 1rem;
    @media screen and (max-width: 1000px){
      grid-template-columns: repeat(1, 1fr);
    }
    .portfolio
    {
      box-shadow: var(--card-shadow);
      //background-color: var(--sidebar);
      overflow: hidden;
      .project-content
      {
        transition: all .7s ease-in-out;
        max-height: 24vh;
        position: relative;
        padding-bottom: 6rem;

        .expand-btn
        {
          position: absolute;
          z-index: 100;
          bottom: 0;
          margin: auto;
          left: 0;
          right: 0;
          width: 100%;
          text-align: center;
          padding: 1rem 2rem;
          background-color: var(--main-color-hover);
          border: none;
          outline: none;
          font-size: inherit;
          font-family: inherit;
          color: inherit;
          flex-wrap: wrap;
          cursor: pointer;
          box-shadow: var(--card-shadow);
          &::after
          {
            position: absolute;
            content: "";
            width: 0;
            height: .3rem;
            left: 0;
            bottom: 0;
            background-color: var(--font-color2);
            transition: all .3s ease-in-out;
          }
          &:hover::after
          {
            width: 100%;
          }
          &:hover
          {
            background-color: var(--main-color);
          }

          &:active::after
          {
            width: 100%;
          }
          &:focus::after
          {
            width: 100%;
          }
          }
        .text-cover
        {
          z-index: 99;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 24vh; /* Adjust this value based on the number of lines you want to fade out */
          background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--sidebar));
        }
        .flex-container
        {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(1, 1fr);
          justify-items: center;
          align-items: center;
          //grid-template-rows: 1fr;
          row-gap: 3rem;
          .description {
            max-width: 900px;
          }
          img
          {
            //height: 200px;
            width: 300px;
            min-height: 100%;
            background-color: var(--sidebar);
          }
          .img-caption
          {
            font-size: .8rem;
            width: 250px;
            text-align: center;
            margin: auto;
            align-content: center;
            padding-top: .5rem;
          }
          .audio-container
          {
            display: flex;
            .audio-player
            {
              padding-left: 1rem;
              padding-right: 1rem;
            }
            .audio-caption
            {
              font-size: .8rem;
              width: 250px;
              text-align: center;
              margin: auto;
              align-content: center;
              padding-top: .5rem;
            }
          }
          p
          {
            width: 80%;
            transition: all .3s ease-in-out;
            line-height: 150%;
          }
        }

      }
      h5
      {
        display: flex;
        flex-direction: row;
        padding: 2rem;
        height: auto;
        font-weight: 400;
        font-size: 2rem;
        //background-color: var(--sidebar);
        &:hover
        {
          color: var(--main-color);
        }
        //.title{
        //  &:hover
        //  {
        //    color: var(--main-color);
        //  }
        //}

        .icon
        {
          position: relative;
          margin-right: 16px;
          color: var(--font-color2);
          font-family: inherit;
          //font-size: 2.8rem;
          transition: all .3s ease-in-out;
          //height: 2px !important;
          //width: 2px !important;
          &:hover
          {
            color: var(--main-color)
          }
        }
      }

      .text-cover {
        background: linear-gradient(to bottom, transparent, #000000);
      }
    }
  }
}
