.Title
{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--font-color1);
  position: relative;
  padding-bottom: 1rem;
  letter-spacing: 3px;
  cursor: default;
  .page-bar
  {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--main-color-hover);
    width: 6rem;
    height: .4rem;
    border-radius: 50px;
    .page-bar-progress
    {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--main-color);
      width: 0;
      height: .4rem;
      border-radius: 50px;
    }
  }
  span
  {
    position: absolute;
    white-space: nowrap;
    width: 20vm;
    top: 15%;
    left: 0;
    font-size: 4.5rem;
    opacity: .04;
  }
}
